/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

* body {
  background-color: #d9dcd6;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
  text-align: center;
}
*/
/* functions above is general and should affect all functions in HTML */
/* header section */
header {
  padding: 10px;
  font-family: "Trebuchet MS", Arial, sans-serif;
  background-color: #334155;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  font-size: 38px;
  color: #808378;
}

article {
  padding: 25px;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  background-color: #6c7981;
}
article img {
  height: 200px;
  max-width: 100%;
  object-fit: contain;
}

article a {
  color: #000000;
  text-align: center;
  text-decoration: none;
}

footer {
  padding: 10px;
  clear: both;
  font-family: Arial, sans-serif;
  text-align: center;
}
